@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&family=Lilita+One&display=swap");

html {
  overflow-y: scroll;
}

@theme {
  --font-lilita: "Lilita One", sans-serif;
}

.bg-img {
  background: url(./assets/banner.jpg);
  background-position: center;
  background-size: cover;
}
